/* Like Button */
.heart {
  position: fixed;
  top: 20px;
  right: calc(50vw - 500px);

  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  z-index: 11;
}
.heart.is_active {
  transition-duration: 1s;
  background-position: -2800px 0;
}
@media only screen and (max-width: 950px) {
  .heart {
    display: none;
  }
}

/* Dropdown Menu */
.dropdown {
  width: 200px;
  display: inline-block;
  background-color: #141414;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #fff;
  height: 100%;
  text-align: left;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #242424;
}
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #242424;
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #141414;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}
.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #242424;
}
.dropdown .dropdown-menu li:active {
  background-color: #242424;
}

/* scroll */
.navbar {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, transparent);
  transition: all 0.4s ease-in-out;
  display: flex;
}

.scrolled {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 100%, transparent);
}

/*** layout ***/
html {
  scroll-behavior: smooth;
}

.icon {
  font-size: 200%;
  border-radius: 1%;
  padding: 0;
  transition: transform 0.5s;
}
/*** canvas ***/

#canvas {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
}

/*** content ***/
#content {
  position: relative;
  z-index: 0;
  touch-action: none; /* disable pull to refresh on mobile */
}

#water-ripples {
  width: 100%;
  height: calc(25px + 50vw);

  display: flex;
  justify-content: center;
  align-items: center;
}

#water-ripples-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#water-ripples-title h1 {
  color: white;
  font-size: 8.5vw;
  margin: 0;
  opacity: 0;
}

#water-ripples img {
  display: none;
}

#curtainsjs-ad a {
  color: inherit;
}

/*** handling errors ***/

.no-curtains #water-ripples {
  display: flex;
  overflow: hidden;
}

.no-curtains #water-ripples img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.no-curtains #water-ripples-title h1 {
  opacity: 1;
}
